<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Cartify Automation Suite" verbose="1">
    <listeners>
        <listener class-name="com.cartify.utils.CustomTestListener"/>
    </listeners>
    <test name="All Tests">
        <classes>
            <class name="com.cartify.tests.EndToEndFlowTest" />
        </classes>
    </test>
</suite>
