<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cartify Test Suite" verbose="1">
    
    <!-- Cart -->
    <test name="Cart Page Tests" preserve-order="true">
        <classes>
            <class name="com.company.cartify.tests.CartPageTest"/>
        </classes>
    </test>
    
    <!--  Checkout -->
    <test name="Checkout Page Tests" preserve-order="true">
        <classes>
            <class name="com.company.cartify.tests.CheckoutPageTest"/>
        </classes>
    </test>
    
</suite>
